
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    margin: 0 auto;
    margin-top: 35px;
    width: 100%;
    border-collapse: collapse;
    /* box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);  */
    transition: .9s ;
}
th,td{
    text-align: left;
    padding: 10px 5px 10px 5px;
    border: 1px solid #2c3e50;
    color: #2c3e50;
}
th{
    background-color:#2c3e50;
    color: white;
}
.empty{
    display: none;
}
#tables tr:nth-child(even){background-color: #f2f2f2;}



.division{

    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsivness */
@media only screen and (max-width: 900px){
    button{
        width: 100%;
        justify-content: center;
        
    }

    table{
        width: 100%;
    }
    thead, th{
        display: none;
    }
    table td{
        display: block;
        text-align: right;
        font-size: 16px;
       
    }
   
   
    td::before{
        content: attr(data-label);
        float: left;
        font-size: 16px;
        
    }
    .empty{
        display: block;
        margin-top: 23px;
        border: 0;
        background-color: white;
        
    }
}